body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.Header {
  background-color: grey;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 0;
  justify-content: center;
}

.nameWrapper {
  display: flex;
}

.name {
  padding: 0 10px;
}

.headerOptions {
  display: flex;
  padding: 10px;
}

.buttonOptions {
  height: 30px;
  width: 20vw;
  margin: 2px;
  cursor: pointer;
}

.buttonOptions:hover {
  text-decoration: underline;
}

.buttonOptions:active {
  text-decoration: underline;
}

.List {
  display: flex;
  justify-content: space-between;
  margin: 10px;
  border: black 1px solid;
  padding: 10px;
  border-radius: 5px;
}

.ListedItem {
  margin: 0 10px;
  display: flex;
  flex-direction: column;
}

.ListItemCompleted {
  color: #2f5d62;
}

.ListItemPending {
  color: #ffb037;
}

.ListItemDelete {
  color: red;
  flex-grow: 0;
  cursor: pointer;
  width: 30px;
}

.ListItemDelete:hover {
  background-color: rgba(255, 0, 0, 0.3);
  border-radius: 5px;
}

.addButton {
  padding: 4px;
}

.inputBox {
  padding: 5px;
}

.editIcon:hover {
  cursor: pointer;
}
