body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #e0e0e0;
  background-repeat: no-repeat;
  height: auto;
  color: var(--fg);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.header {
  grid-column: width;
  grid-row: header;
  flex-direction: column;
  align-items: center;
  padding: 10px 0;
  justify-content: center;
}

.main {
  grid-column: width;
  grid-row: main;
}

.nameWrapper {
  display: flex;
}

.name {
  padding: 0 10px;
}

.headerOptions {
  display: flex;
  justify-content: center;
  padding: 10px;
}

.buttonOptions {
  height: 30px;
  width: 20vw;
  margin: 0 2px;
  cursor: pointer;
  color: var(--shade4);
  border-radius: 21px;
  background: linear-gradient(145deg, #e5e6e6, #ffffff);
  box-shadow: 3px 3px 6px #c6c7c7, -3px -3px 6px #ffffff;
  transition: margin 0.5s, color 0.5s;
}

.buttonOptions:active {
  text-decoration: underline;
  box-shadow: 0 0 0 var(--shade4) inset, 0 0 0 var(--shade1) inset,
    0 0 0 var(--shade1), 0 0 0 var(--shade4);
}

.buttonOptions:hover {
  margin: 0 20px;
  color: var(--shade5);
}

.List {
  display: flex;
  justify-content: space-between;
  margin: 10px;
  padding: 10px;
  border-radius: 46px;
  background: linear-gradient(145deg, #e5e6e6, #ffffff);
  box-shadow: 13px 13px 38px #afafaf, -13px -13px 38px #ffffff;
}

.nameWrapper {
  align-items: center;
}

.ListedItem {
  margin: 0 10px;
  display: flex;
  flex-direction: column;
}

.ListItemCompleted {
  color: var(--complete);
}

.ListItemPending {
  color: var(--pending);
}

.ListItemDelete {
  border-radius: 21px;
  background: linear-gradient(145deg, #e5e6e6, #ffffff);
  box-shadow: 3px 3px 6px #c6c7c7, -3px -3px 6px #ffffff;
  color: var(--shade4);
  flex-grow: 0;
  cursor: pointer;
  height: 25px;
  width: 25px;
  align-self: center;
  transition: width 0.5s;
}

.ListItemDelete:hover {
  background-color: rgba(255, 0, 0, 0.3);
  width: 60px;
}

.addButton {
  color: var(--shade4);
  padding: 8px;
  margin-left: 5px;
  border-radius: 46px;
  background-color: #e5e6e6;
  box-shadow: 13px 13px 38px #afafaf, -13px -13px 38px #ffffff;
  transition: color 0.3s, background-color 0.3s;
}

.addButton:hover {
  color: var(--shade5);
  cursor: pointer;
  background-color: #d4d4d4;
}

.inputBox {
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 30px 60px (167, 179, 190, 0.35);
  box-shadow: 0px -30px 60px (248, 252, 255, 0.5);
}

.inputBox:active {
  border: none;
}

.editIcon:hover {
  cursor: pointer;
}

.statusButton {
  color: var(--shade4);
  border-radius: 21px;
  background-color: linear-gradient(145deg, #e5e6e6, #ffffff);
  box-shadow: 3px 3px 6px #c6c7c7, -3px -3px 6px #ffffff;
  padding: 5px 10px;
  transition: padding 0.5s;
}

.statusButton:hover {
  padding: 5px 30px;
  cursor: pointer;
}
